# Free Cloud Databases
DATABASE_URL=postgresql://postgres:[YOUR-PASSWORD]@db.xxxxxx.supabase.co:5432/postgres
REDIS_URL=rediss://default:[YOUR-PASSWORD]@xxxxxx.upstash.io:6379

# Free AI API
GROQ_API_KEY=gsk_xxxxxxxxxxxxxxxxxxxxxxxxxxx

# In Render, they might set PORT automatically. Locally it defaults to 8000
API_BASE_URL=http://localhost:8000
